html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.canvas-container {
  background-color: black;
  padding: 12px 15px;
  border-radius: 8px;
}
